body{
    font-family:Arial,sans-serif;
    background:#d8eef7;

    display:flex;
    justify-content:center;
    align-items:center;

    height:100vh;
    margin:0;
}

.container{
    background:white;
    padding:30px;
    width:500px;

    border-radius:15px;
    box-shadow:0 5px 15px rgba(0,0,0,0.2);
}

h1{
    text-align:center;
    color:darkblue;
}

.input-section{
    display:flex;
    gap:10px;
}

input{
    flex:1;
    padding:12px;
}

button{
    background:blue;
    color:white;

    border:none;
    padding:10px 15px;

    border-radius:8px;
    cursor:pointer;
}

button:hover{
    background:darkblue;
}

li{
    margin-top:15px;
    padding:10px;

    background:#f1f1f1;

    border-radius:8px;

    display:flex;
    justify-content:space-between;
    align-items:center;
}

.actions button{
    margin-left:5px;
}

.delete{
    background:red;
}
#searchInput{
    width:95%;
    padding:12px;
    margin-top:15px;
}