body{
    margin:0;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    background:#d8eef7;
    font-family:Arial,sans-serif;
}

.quiz-container{
    background:white;
    padding:30px;
    border-radius:15px;
    width:500px;
    box-shadow:0 4px 15px rgba(0,0,0,0.2);
}

h1{
    text-align:center;
    color:darkblue;
}

#question{
    margin-bottom:20px;
}

.option{
    display:block;
    width:100%;
    padding:12px;
    margin:10px 0;
    border:none;
    border-radius:8px;
    background:#f1f1f1;
    cursor:pointer;
    text-align:left;
}

.option:hover{
    background:#ddd;
}

#nextBtn{
    width:100%;
    padding:12px;
    background:blue;
    color:white;
    border:none;
    border-radius:8px;
    margin-top:15px;
    cursor:pointer;
}

#score{
    text-align:center;
    font-size:20px;
    font-weight:bold;
}